{% extends "main/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="ru">
{% block links %}


    <link rel="stylesheet" href="{% static 'main/css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style-list.css' %}">
{% endblock %}
{% block content %}
    <div class="mid">
    <ul class="list-group">
    {% for key,value in list.items %}
        <ul class="list-group-item have">{{ key }}</ul>
        {% for el in value %}
            <li class="list-group-item zag"><span>{{ el.1 }}</span>{{el.0}}</li>
        {% endfor %}
        </ul>
    {% endfor %}
        <ul class="list-group">
        <h3 id="h3"> Не отчитались</h3>
        {% for el in no %}
            <li class="list-group-item have" >{{ el }}</li>
        {% endfor %}
    </ul>
    </div>
    <form>
       {% csrf_token %}
        {% if flag_for_button %}
            <button formaction="{% url 'uploads' data after %}" formmethod="post" class="btn btn-info my btn-lg" role="button">Скачать отчет</button>
        {% else %}
            <button formaction="{% url 'uploads_for_load' data after %}" formmethod="post" class="btn btn-info my btn-lg" role="button">Скачать отчет</button>
        {% endif %}
    <button class="btn btn-danger btn-lg exit_now" formaction="{% url 'return' id %}" type="submit" formmethod="post">На главную</button>
    </form>
{% endblock %}
</html>