div{
    font-size: 1.5rem !important;
}
table{
    font-size: 1.5rem !important;
}
tr{
    font-size: 1.5rem !important;
}
th{
    font-size: 1.5rem !important;
}
td{
    font-size: 1.5rem !important;
}
caption{
    font-size: 1.5rem !important;
}