{% extends "main/User.html" %}
<br>
{% block create %}
    <form role="form">
        {% csrf_token %}
    <label for="12345">Отчет с <select name="data" class="select_data" id="12345">

        {% for el in list %}
        <option value="{{el.0}}">{{  el.1   }}</option>
        {% endfor %}
    </select><br></label>
    <div class="data_after_admin">по</div>
   <div class="btn-group col-12">
  <button formaction="{% url 'otchet' id%}" formmethod="post" type="submit" value="otchet" class="form-control btn btn-light" >Отчет за неделю</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Переключатель выпадающего списка</span>
  </button>
  <ul class="dropdown-menu">
    <li> <button formaction="{% url 'otchet' id%}" formmethod="post" type="submit" value="otchet" class="form-control btn btn-light dropdown-item" >Отчет за неделю</button></li>
    <li> <button  data-bs-toggle="modal" data-bs-target="#ModalSrok"  id="full" type="button" value="otchet2" class="form-control btn btn-light dropdown-item">Отчет за определенный срок</button> </li>
      <li><button  data-bs-toggle="modal" data-bs-target="#ModalSrok"  id="load" type="button" value="otchet3" class="form-control btn btn-light dropdown-item">Отчет по учебной нагрузке</button></li>
  </ul>
</div>
        <button formaction="/admin/" formmethod="post" type="submit" value="admin" class="form-control btn btn-success">Кнопка для работы с бд</button>
    {% if flag %}
        <label for="h_b">Предупреждать о дне рождении за:</label>
        <input type="number" step="1" min="1" max="100" value={{befor}} id="h_b" name="h_b"/>
        <button formaction="{% url 'birthday' id%}" formmethod="post" type="submit" value="birthday" class="btn btn-dark">Сохранить работу с днем рождением</button>
    </form>
    {% endif %}
<!-- Modal -->
<div class="modal fade" id="ModalSrok" tabindex="-1" aria-labelledby="ModalSroklabel" aria-modal="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalSroklabel">Отчет</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
          {% csrf_token %}
          <span>c</span><select name="data_befor" class="form-select">

        {% for el in list %}
        <option value="{{el.0}}">{{  el.1   }}</option>
        {% endfor %}
    </select>
          <br>
          <span>до</span><select name="data_after" class="form-select" >

        {% for el in after_list %}
        <option value="{{el.0}}">{{  el.1   }}</option>
        {% endfor %}
    </select>
          <br>
{#          Додумать с помощью js#}
          <button formmethod="post" formaction="{% url 'full' id %}" type="submit" class="form-control btn btn-dark" id="modal-otchet-full">Посмотреть</button>
          <button formmethod="post" formaction="{% url 'load' id %}" type="submit" class="form-control btn btn-dark" id="modal-otchet-load">Посмотреть</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}