<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Отчет</title>
</head>
<body>
    {% if flag_for_list %}
    <pre>{{list}}</pre>
    {% else %}
        <table border="1">
   <caption>Отчет</caption>
   <tr>
    {% for el in caption %}
        <th>{{el}}</th>
    {% endfor %}
   </tr>
        {%for key,value in list.items%}
            <tr><td>{{key}}</td>{% for el in value %}<td>{{el}}</td>{% endfor %}</tr>
        {% endfor %}
  </table>
        <ul>Не отчитались</ul>
        {% for el in dont %}
            <li>{{ el }}</li>
        {% endfor %}
    {% endif %}
</body>
</html>