{% extends "main/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="ru">
{% block links %}

{#    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>#}

    <link rel="stylesheet" href="{% static 'main/css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style-user.css' %}">
{% endblock %}
{% block content %}
    {% block create %}
    {% endblock %}
    <form role="form">
    <div id="1234">Добро пожаловать,{{ name }}</div>
    {% csrf_token %}
    {{ form.data }}
    {{ form.text }}
    <label for="23">Дата c<select name="data2" id="23"   onchange="var links=[];
            {% for el in list %}
                links['{{el.0}}']='{% url 'data' id el.0 %}'
            {% endfor %}{if (this.value) top.location.href=links[this.value];}">
        {% for el in list %}
            <option value="{{ el.0 }}" {% if data_opt == el.0 %} selected {% endif %}>{{ el.1 }}</option>
        {% endfor %}
    </select><br></label>
    <div class="data_after_user">по</div>    <br>
        <label for="text1">
          <a class="my_class" data-bs-toggle="collapse" href="#div1" role="button" aria-expanded="false" aria-controls="div1">
    Учебная работа
  </a>
        </label><div class="collapse show" id="div1">
    <textarea contenteditable role="textbox" class="form-control card card-body" name="text1" id="text1" aria-placeholder="Обязательно введите значение">{{ text.0 }}</textarea>

    <br>
    <div class="forjs">
    <label for="hour" style="font-style: italic;color:white;font-weight: bolder">Всего проведено часов: </label>
                <input type="number" step="2" min="0" max="100" value="{{ hour }}" id="hour" name="hour"/>
    <label for="lec" style="font-style: italic;color:white;font-weight: bolder" >из них лекции: </label>
                <input type="number" step="2" min="0" max="100" value="{{ lec }}" id="lec" name="lec"/><br>
    </div>
    </div>
    <br>
    <label for="text2">
        <a class="my_class" data-bs-toggle="collapse" href="#div2" role="button" aria-expanded="false" aria-controls="div2">
            Учебно-методическая работа</a>
    </label>
    <div class="collapse" id="div2"><textarea class="form-control" name="text2" id="text2">{{ text.1 }}</textarea></div>
    <br>
    <label for="text3">
        <a class="my_class" data-bs-toggle="collapse" href="#div3" role="button" aria-expanded="false" aria-controls="div3">Организационно-методическая работа</a></label>
    <div class="collapse" id="div3">
    <textarea id="text3" class="card card-body form-control" name="text3">{{ text.2 }}</textarea>
    </div>
    <br>
    <label for="text4"><a class="my_class" data-bs-toggle="collapse" href="#div4" role="button" aria-expanded="false" aria-controls="div4">
        Повышение квалификации </a></label>
    <div class="collapse" id="div4">
    <textarea class="card card-body form-control" id="text4" name="text4">{{ text.3 }}</textarea>
    </div>
    <br>
    <label for="text5">
        <a class="my_class" data-bs-toggle="collapse" href="#div5" role="button" aria-expanded="false" aria-controls="div5">
            Воспитательная работа</a></label>
    <div class="collapse" id="div5">

    <textarea class="card card-body form-control" id="text5" name="text5"> {{ text.4 }}</textarea>
    </div>
    <br>
    <label for="text6">
        <a class="my_class" data-bs-toggle="collapse" href="#div6" role="button" aria-expanded="false" aria-controls="div6">Контроль качества учебного процесса </a>
    </label>
    <div class="collapse" id="div6">
    <textarea class="form-control" id="text6" name="text6">{{ text.5 }} </textarea>
    </div>
    <br>
    <label for="text7">
        <a class="my_class" data-bs-toggle="collapse" href="#div7" role="button" aria-expanded="false" aria-controls="div6">Научно-методическая и научно-исследовательская работа </a></label>
    <div class="collapse" id="div7">
    <textarea id="text7" class="form-control" name="text7">{{ text.6 }} </textarea>
    </div>
    <br>

    <button formaction="{% url 'user_send' id %}" formmethod="post" type="submit" value="Complete" name="Сохранить"
            class="btn btn-warning" id="save-2">Сохранить
    </button><br>
    {% if flag_for_save %}
        <div style="color:green" class="save-3">Ваши данные успешно сохранены</div>
     {% else %}
        {% if flag_for_error %}
        <div style="color:red" class="save-3">Ваши данные не сохранены.Пожалуйста,напишите что-нибудь в поле "Учебная работа" для сохранения вашей учебной нагрузки.</div>
        {% endif %}
    {% endif %}
        <button class="btn btn-danger" formaction="/" formmethod="post" type="submit" value="Exited" id="exit" name="Выход">
        Выйти
    </button>
    {% if flag %}
    <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btn-birthday">
  Дни рождения
</button>
<div class="modal fade show nice" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Дни рождения</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul class="list-group">Ближайшие</ul>
         {% for el in happy %}
            <li class="list-group-item">{{el}}</li>
         {% endfor %}
         </ul>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
    {% endif %}
    <script type="text/javascript" src={% static "main/js/js-admin.js" %}></script>
{% endblock %}
</form>
</html>