html, body {
  background: #1a1f25;
  font-family: 'Roboto', sans-serif;
  color:#e6b333;
  font-size: 30px !important;
}
textarea{
background-color:bisque    !important;
  resize: none;
  height: 200px !important;
  /*opacity: 0.5;*/
}
form{
}
.btn-save{
  border:none;
  background-color:#ff8a65;
  width:200px;
  position: relative;
  left:50%;
}
#exit{
  position: absolute;
  top:50px;
  left: 90%;
}
select,option{
  padding-left: 45px;
  color: #e6b333 !important;
  /*background: transparent;*/
  box-shadow: none;
    outline: none;
  border-color: #1a1f25 !important;
}
select{
  background-color: #1a1f25 !important;
}
.select_data{
  margin-bottom: 20px;
  position: relative;
  left:30%
}
.data_after_admin{
  position: relative;
  left:30%;
  top:-60px;
}
.data_after_user{
 position: relative;
  top:-45px;
  left:350px;
}
#h_b{
  margin: 100px;
}
#lec{
  font-style:italic;
  font-weight: bold;
}
#hour{
  font-style:italic;
  font-weight: bold;
}
p{
  margin-top:40px ;
}
.my_class{
   color: #e6b333;
}